.App {
  text-align: center;
  color: #4c6072;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #6d859e;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
